[user]
	email = aldenluthfi@gmail.com
	name = aldenluthfi
	signingkey = /Users/aldenluthfi/.ssh/masterkey.pub
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
[safe]
	directory = /mnt/susunluthfi
